body {
    background-image: linear-gradient(to right, #001524, #15616d);
    color: #78290f;
    margin: auto;
    margin-left: 13%;
    margin-bottom: 10%;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: #ffecd1;
    text-align: center;
    border-radius: 2%;
    width: 980px;
    justify-content: center;
}

.field1 {
    border: 0;
}

.field2 {
    border: 0;
}

h1#id1 {
    margin-top: 5px;
}